body {
    background: url("https://upload.wikimedia.org/wikipedia/commons/2/2f/Space_Needle002.jpg") no-repeat top center;
}

#app {
    padding: 0px;
}

#map {
    width: 100%;
    height: 350px;
}

#crimes-listings {
    max-height: 350px;
    overflow-y: auto;
    padding: 0;
}

#mapbox {
    margin-right: 0px;
}

.row {
    margin: 0;
}

.navbar {
    background-color: #fff;
    opacity: .8;
}

.jumbotron {
    padding: 20px;
}

.icon-bar {
    background-color: #000;
}